.blog-list {
    width: 100%;
    padding-left: calc(20vh - 1px);
    padding-right: calc(20vh - 1px);
    @media (min-width: 576px) and (max-width: 1199px){
        padding-left: calc(10vh - 1px);
        padding-right: calc(10vh - 1px);
    }
    @media (max-width: 575px){
        padding-left: 0;
        padding-right: 0;
    }

    .heading {
        position: relative;
        padding-bottom: 2.5vh;
        @media (min-width: 1200px){
            padding: 0 5vh 2.5vh 5vh;
        }
        margin: 0 auto;
        width: 37.5vw;
        @media (min-width: 768px) and (max-width: 1199px){
            width: calc(100vw - 20vh);
        }
        @media (min-width: 576px) and (max-width: 767px){
            width: 50vw;
        }
        @media (max-width: 575px){
            width: calc(100vw - 10vh);
        }
    
        p {
            color: $color-black;
        }

        @media(max-width: 1199px){
            &::before {
                content: '';
                width: 0%;
                height: 1px;
                background: $color-black;
                position: absolute;
                bottom: 2.5vh;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                opacity: 0;
                transition: all 1s linear;
            }
        }

        // animation on snap list
        .snap-animation {
            animation-name: snap-to;
            animation-duration: .2s;
        }

        /* The animation code */
        @keyframes snap-to {
            0%   {transform: translateY(2.5vh)}
            100% {transform: translateY(0)}
        }
    }

    ul {
        overflow: auto;
        height: 25vh;
        @media (max-width: 767px){
            height: 40vh;
        }

        /* width */
        &::-webkit-scrollbar {
            width: 1px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $color-black;
        }

        li{
            margin: auto;
            width: 37.5vw;
            @media (min-width: 768px) and (max-width: 1199px){
                width: calc(100vw - 20vh);
            }
            @media (min-width: 576px) and (max-width: 767px){
                width: 50vw;
            }
            @media (max-width: 575px){
                width: calc(100vw - 10vh);
            }

            a {
                color: $color-black;
                @media (min-width: 1200px){
                    padding: 0 5vh 0 5vh;
                }

                .timestamp {
                    padding-left: 20px;
                }

                &:hover {
                    background-color: $color-black;
                    color: $color-white;
                }
            }
        }
    }
}

.swiper-slide-active .blog-list .heading::before {
    width: 100%;
    opacity: 1;
}