.blog-list {
    width: 100%;
    padding: calc(20vh - 2.5vh);
    @media (min-width: 576px) and (max-width: 1199px){
        padding: calc(10vh - 10px);
    }
    @media (max-width: 575px){
        padding: 5vh;
    }

    .heading {
        padding: 2.5vh;
        margin: 0 auto;
        width: 37.5vw;
        @media (min-width: 768px) and (max-width: 1199px){
            width: calc(100vw - 20vh);
        }
        @media (min-width: 576px) and (max-width: 767px){
            width: 60vw;
        }
        @media (max-width: 575px){
            width: calc(100vw - 10vh);
        }
        
        p {
            color: $color-black;
        }
    }

    ul {
        overflow: auto;
        height: 25vh;
        @media (max-width: 1199px){
            height: 35vh;
        }

        /* width */
        &::-webkit-scrollbar {
            width: 5px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 20px;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        li{
            margin: auto;
            width: 37.5vw;
            @media (min-width: 768px) and (max-width: 1199px){
                width: calc(100vw - 20vh);
            }
            @media (min-width: 576px) and (max-width: 767px){
                width: 60vw;
            }
            @media (max-width: 575px){
                width: calc(100vw - 10vh);
            }

            a {
                padding: 0 2.5vh;
                color: $color-black;

                .timestamp {
                    padding-left: 20px;
                }

                &:hover {
                    background-color: $color-black;
                    color: $color-white;
                }
            }
        }
    }
}