.modal.fade .modal-dialog {
    transform: translate(0);
}

.modal-backdrop{
    opacity:0 !important;
}

.post-details {
    height: 100%;
    display: grid;
    place-items: center;

    .post-details-content {
        width: 100%;
        padding-left: calc(20vh - 2.5vh);
        padding-right: calc(20vh - 2.5vh);
        @media (min-width: 768px) and (max-width: 1199px){
            padding-left: calc(10vh - 1.25vh);
            padding-right: calc(10vh - 1.25vh);
        }
        @media (min-width: 576px) and (max-width: 767px){
            padding-left: calc(10vh - 2.5vh);
            padding-right: calc(10vh - 2.5vh);
        }
        @media (max-width: 575px){
            padding-left: 0;
            padding-right: 0;
        }

        .post-heading {
            padding-bottom: 2.5vh;
            @media (min-width: 1200px){
                padding: 0 5vh 2.5vh 5vh;
            }
            margin: 0 auto;
            width: 37.5vw;
            @media (min-width: 768px) and (max-width: 1199px){
                width: calc(100vw - 20vh);
            }
            @media (min-width: 576px) and (max-width: 767px){
                width: 50vw;
            }
            @media (max-width: 575px){
                width: calc(100vw - 10vh);
            }
        }
        .post-description {
            overflow: auto;
            height: 25vh;
            @media (min-width: 576px) and (max-width: 767px){
                height: 40vh;
            }
            @media (max-width: 575px){
                height: 35vh;
            }
            p{
                margin: auto;
                width: 37.5vw;
                text-align: justify;
                
                @media (min-width: 768px) and (max-width: 1199px){
                    width: calc(100vw - 20vh);
                }
                @media (min-width: 576px) and (max-width: 767px){
                    width: 50vw;
                }
                @media (max-width: 575px){
                    width: calc(100vw - 10vh);
                }

                @media (min-width: 1200px){
                    padding: 0 5vh 0 5vh;
                }
                @media (max-width: 1199px){
                    padding-right: 0.5vh;
                }

                a {
                    color: $color-green;
                    text-decoration: underline;
                }
            }

            /* width */
            &::-webkit-scrollbar {
                width: 3px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $color-black;
            }
        }
    }

    
}

.post-description a {
    position: relative;
    white-space: nowrap;
}

.post-description a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 105%;
    height: 100%;
    min-height: 30px;
    transform: translate(-50%, -50%) scaleX(0);
    padding: 10px;
    z-index: -1;
    transform-origin: 50%;
    background: transparent;
}

.bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-show .bg {
    position: absolute;
    z-index: 1;
    opacity: 1;
}

.bg-show a:hover {
    z-index: 2;
    border-bottom-color: transparent;
    color: transparent !important;
    text-decoration: none !important;
}

.bg-show .post-description a:hover::before {
    transform: translate(-50%, -50%) scaleX(1);
}

