/*=== abstracts css start === */
@font-face {
  font-family: SuisseIntlMono-Regular;
  src: url(../fonts/SuisseIntlMono-Regular.otf);
}

/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: SuisseIntlMono-Regular;
  color: #000;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.place-items-center {
  place-items: center;
}

/*===// end of base css === */
/*=== components css start === */
.slider {
  height: 100vh;
  overflow: hidden;
}

.slider .swiper-slide {
  background: #fff;
}

.slider .swiper-slide .slider-content {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
}

.banner {
  text-align: center;
  width: 37.5vw;
  margin: auto;
  padding: 15px;
}

@media (min-width: 576px) and (max-width: 1199px) {
  .banner {
    width: calc(100vw - 20vh);
  }
}

@media (max-width: 575px) {
  .banner {
    width: calc(100vw - 10vh);
  }
}

.banner .logo {
  max-height: 5vh;
}

.banner p {
  padding: 35px 0 45px 0;
}

@media (max-width: 768px) {
  .banner p {
    padding: 20px 0 25px 0;
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.banner .swiper-button-next {
  position: static;
  display: inline-block;
  margin: 0;
  width: 50px;
  color: #000;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.blog-list {
  width: 100%;
  padding: calc(20vh - 2.5vh);
}

@media (min-width: 576px) and (max-width: 1199px) {
  .blog-list {
    padding: calc(10vh - 10px);
  }
}

@media (max-width: 575px) {
  .blog-list {
    padding: 5vh;
  }
}

.blog-list .heading {
  padding: 2.5vh;
  margin: 0 auto;
  width: 37.5vw;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .blog-list .heading {
    width: calc(100vw - 20vh);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .blog-list .heading {
    width: 60vw;
  }
}

@media (max-width: 575px) {
  .blog-list .heading {
    width: calc(100vw - 10vh);
  }
}

.blog-list .heading p {
  color: #000;
}

.blog-list ul {
  overflow: auto;
  height: 25vh;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

@media (max-width: 1199px) {
  .blog-list ul {
    height: 35vh;
  }
}

.blog-list ul::-webkit-scrollbar {
  width: 5px;
}

.blog-list ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.blog-list ul::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

.blog-list ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blog-list ul li {
  margin: auto;
  width: 37.5vw;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .blog-list ul li {
    width: calc(100vw - 20vh);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .blog-list ul li {
    width: 60vw;
  }
}

@media (max-width: 575px) {
  .blog-list ul li {
    width: calc(100vw - 10vh);
  }
}

.blog-list ul li a {
  padding: 0 2.5vh;
  color: #000;
}

.blog-list ul li a .timestamp {
  padding-left: 20px;
}

.blog-list ul li a:hover {
  background-color: #000;
  color: #fff;
}

.post-details {
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.post-details .post-details-content {
  width: 100%;
  padding: calc(20vh - 2.5vh);
}

@media (min-width: 576px) and (max-width: 1199px) {
  .post-details .post-details-content {
    padding: calc(10vh - 10px);
  }
}

@media (max-width: 575px) {
  .post-details .post-details-content {
    padding: 0;
  }
}

.post-details .post-details-content .post-heading {
  margin: 0 auto;
  padding-bottom: 2.5vh;
  width: 37.5vw;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .post-details .post-details-content .post-heading {
    width: calc(100vw - 20vh);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .post-details .post-details-content .post-heading {
    width: 60vw;
  }
}

@media (max-width: 575px) {
  .post-details .post-details-content .post-heading {
    width: calc(100vw - 10vh);
  }
}

.post-details .post-details-content .post-description {
  overflow: auto;
  height: 25vh;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

@media (max-width: 1199px) {
  .post-details .post-details-content .post-description {
    height: 35vh;
  }
}

.post-details .post-details-content .post-description p {
  margin: auto;
  width: 37.5vw;
  text-align: justify;
}

@media (max-width: 1199px) {
  .post-details .post-details-content .post-description p {
    padding-right: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .post-details .post-details-content .post-description p {
    width: calc(100vw - 20vh);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .post-details .post-details-content .post-description p {
    width: 60vw;
  }
}

@media (max-width: 575px) {
  .post-details .post-details-content .post-description p {
    width: calc(100vw - 10vh);
  }
}

.post-details .post-details-content .post-description p a {
  color: #01a342;
  text-decoration: underline;
  padding: 5px 0;
}

.post-details .post-details-content .post-description::-webkit-scrollbar {
  width: 5px;
}

.post-details .post-details-content .post-description::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.post-details .post-details-content .post-description::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

.post-details .post-details-content .post-description::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.post-description a {
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.post-description a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 100%;
  min-height: 30px;
  -webkit-transform: translate(-50%, -50%) scaleX(0);
          transform: translate(-50%, -50%) scaleX(0);
  padding: 10px;
  z-index: -1;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  background: #fff;
}

.bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.bg-show .bg {
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.bg-show a:hover {
  z-index: 2;
  border-bottom-color: transparent;
  color: #01a342;
  text-decoration: none !important;
}

.bg-show .post-description a:hover::before {
  -webkit-transform: translate(-50%, -50%) scaleX(1);
          transform: translate(-50%, -50%) scaleX(1);
  -webkit-transition: -webkit-transform 0.2s 0.1s ease-out;
  transition: -webkit-transform 0.2s 0.1s ease-out;
  transition: transform 0.2s 0.1s ease-out;
  transition: transform 0.2s 0.1s ease-out, -webkit-transform 0.2s 0.1s ease-out;
}

.newsletter-details {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.newsletter-details .newsletter-details-content {
  margin: 0 auto;
  width: 37.5vw;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .newsletter-details .newsletter-details-content {
    width: calc(100vw - 20vh);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .newsletter-details .newsletter-details-content {
    width: 60vw;
  }
}

@media (max-width: 575px) {
  .newsletter-details .newsletter-details-content {
    width: calc(100vw - 10vh);
  }
}

.newsletter-details .newsletter-details-content .newsletter-heading .title {
  position: relative;
}

.newsletter-details .newsletter-details-content .newsletter-heading .title::after {
  content: '';
  width: 500%;
  height: 2px;
  background: #000;
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.newsletter-details .newsletter-details-content .newsletter-success .newsletter-heading {
  color: #01a342;
}

.newsletter-details .newsletter-details-content .newsletter-success .newsletter-heading .title::after {
  background: #01a342;
}

.newsletter-details .newsletter-details-content .form-control {
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  margin-top: 7.5vh;
}

.newsletter-details .newsletter-details-content .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*===// end of components css === */
/*=== layouts css start === */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: calc(20vh - 5vh);
  padding-bottom: 0;
}

@media (min-width: 576px) and (max-width: 1199px) {
  .header {
    padding: calc(10vh - 20px);
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .header {
    padding: 5vh;
    padding-bottom: 0;
  }
}

.header img {
  width: 5vh;
  min-width: 40px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: calc(20vh - 5vh);
  padding-top: 0;
}

@media (min-width: 576px) and (max-width: 1199px) {
  .footer {
    padding: calc(10vh - 20px);
    padding-top: 0;
  }
}

@media (max-width: 575px) {
  .footer {
    padding: 5vh;
    padding-top: 0;
  }
}

.footer img {
  width: 5vh;
  min-width: 40px;
}

.footer p {
  font-size: 20px;
  color: #000;
}

.footer button.follow {
  border: 0;
  background: transparent;
}

/*===// end of layouts css === */
/*=== pages start === */
/*===// end of pages  === */
/*# sourceMappingURL=style.css.map */